/* ==========================================================================
   FONTS
   ========================================================================== */
$fonts-size: (
  base: 62.5%,
  global: 1.3rem,
  h1: 2.4rem,
);

$fonts-family: (
  global: "Roboto",
  secondary: "Poppins",
);

/* ==========================================================================
   COLORS
   ========================================================================== */
$colors: (
  bluelight: #1e86ff,
  blueDark: #334680,
  blueDarkVarian: #282538,
  grey: #b9bdcf,
  grey_variant: #b7bcce,
  bg_body: #f6f7fb
);
